<ion-view title="About you" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="aboutYou-form8" class="list">
      <h3 id="aboutYou-heading5" style="color:#973939;">About you</h3>
      <div>
        <img src="img/EkNrtSiwTs6J7z8Sqr6o_img_ysaiz_20160916-194453_imagenes_lv_getty_istock_85754509_small-khJG-U404261095150nOD-992x558LaVanguardia-Web.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <label class="item item-input" id="aboutYou-input4">
        <input type="text" ng-model="name" placeholder="Name">
      </label>
      <label class="item item-input" id="aboutYou-input5">
        <input type="text" ng-model="lastN" placeholder="Last Name">
      </label>
      <label class="item item-input" id="aboutYou-input6">
        <input type="text" ng-model="mail" placeholder="Email">
      </label>
      
    </form>
    <a ui-sref="sumary({q1:q1,q2CB1 :q2CB1,q2CB2 :q2CB2,q2CB3 :q2CB3, opinion: opinion, name: name, lastN: lastN, mail: mail})" id="aboutYou-button8" class="button button-positive button-block">Next</a>
    <a ui-sref="question3()" id="aboutYou-button9" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>
