<ion-view title="Question 3" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="question3-heading4" style="color:#973939;">Give us your Opinion</h3>
    <div>
      <img src="img/9JrEGgcREODJhsyfwVxu_Nashville-Rolf-and-Daughters-restaurant_big.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="question3-form6" class="list">
      <label class="item item-input" id="question3-textarea1">
        <span class="input-label"></span><textarea ng-model="mdl.opinion" placeholder="Tell us what do  you thing"></textarea>
      </label>
  
    </form>
    <a ui-sref="aboutYou({q1:q1,q2CB1 :q2CB1,q2CB2 :q2CB2,q2CB3 :q2CB3, opinion: mdl.opinion})" id="question3-button6" class="button button-positive button-block">Next</a>
    <a ui-sref="question2()" id="question3-button7" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>
