<ion-view title="Sumary" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="sumary-heading6" style="color:#973939;">Sumary</h3>
    <h4 id="sumary-heading10" style="color:#396797;">Name: {{name}}</h4>
      <h4 id="sumary-heading12" style="color:#396797;">Lat Name: {{lastN}}</h4>
    <h4 id="sumary-heading11" style="color:#396797;">Email: {{mail}}</h4>
    <h4 id="sumary-heading7" style="color:#396797;">Q1: {{q1}}</h4>
    <h4 id="sumary-heading8" style="color:#396797;">Q2: OpcionA: {{q2CB1}}  OpcionB: {{q2CB2}}  OpcionC: {{q2CB3}}</h4>
    <h4 id="sumary-heading9" style="color:#396797;">Q3 {{opinion}}</h4>
    <button id="sumary-button10" class="button button-positive button-block">Send</button>
    <a ui-sref="aboutYou()" id="sumary-button11" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>
